html {
    width: 100%;
    height: 100%;
    display: flex;
}


body {
    background-color: #003b46;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: wrap;
}

#logo {
    position: absolute;
    right: 2%;
    bottom: 2%;
    width: 10%;
    height: 10%;

}

#hsl {
    width: 50%;
    height: 94%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 2%;
    background-color: #c4dfe6;
    border-radius: 25px;
}


#otsikko {
    width: 100%;
    margin: 10px;
    height: 5%;
    text-align: center;
    font-size: 175%;
}

.pieniotsikko {
    height: 15%;
    width: 100%;
    text-align: center;
    font-size: 150%;
}

.HSL{
   font-size: 80% !important;
}

#air {
    position: absolute;
    display: flex;
    flex-flow: nowrap;
    right: 15%;
    top: 85%;
    width: 30%;
    height: 13%;
    background-color: #c4dfe6;
    border-radius: 25px;
    justify-content: center;
}

.air{
flex-flow: nowrap;
    width: 27%;

}

#sodexo {
    display: flex;
    flex-flow: wrap;
    width: 40%;
    height: 70%;
    margin: 2%;
    justify-content: center;
    background-color: #66a5ad  ;
    border-radius: 25px;
}

#otsikkoSod{
    width: 100%;
    margin: 2%;
    height: 5%;
    text-align: center;
    font-size: 175%;
    background-color: #66a5ad ;

}

.sodexo{
    width: 100%;
    text-align: center;
    font-size: 150%;
    padding: 1%;

}